@mixin btn(
  $bg-color,
  $color,
  $hover-bg-color,
  $hover-color,
  $disabled-bg-color,
  $disabled-color,
  $border-color: transparent,
  $hover-border-color: transparent,
  $disabled-outline-color: transparent,
  $border-size: 2px
) {
  border-radius: 25px;
  cursor: pointer;
  background-color: $bg-color;
  border: $border-size solid $border-color;
  outline: none;
  color: $color;
  transition-duration: 0.5s;
  font-weight: 600;

  &:hover {
    background-color: $hover-bg-color;
    border: $border-size solid $hover-border-color;
    color: $hover-color;
  }

  &:disabled {
    background-color: $disabled-bg-color;
    border: $border-size solid $disabled-outline-color;
    color: $disabled-color;
    cursor: unset;
  }
}
