// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------

@use "/src/app/shared/styles/utilities/variables";
@use "/src/app/shared/styles/utilities/mixins";

/* Sized
============================================= */

.max-viewport {
  position: absolute;
  height: 100vh;
  width: 100vw;
}

.flex-center-column {
  @include mixins.flex-container($direction: column, $justify-content: center);
}

.flex-center-row {
  @include mixins.flex-container($direction: row, $justify-content: center);
}

/* Backgrounds
============================================= */
$bg-colours: (
  "blue": variables.$bootstrap-blue,
  "indigo": variables.$bootstrap-indigo,
  "purple": variables.$bootstrap-purple,
  "pink": variables.$bootstrap-pink,
  "red": variables.$bootstrap-red,
  "orange": variables.$bootstrap-orange,
  "yellow": variables.$bootstrap-yellow,
  "green": variables.$bootstrap-green,
  "teal": variables.$bootstrap-teal,
  "cyan": variables.$bootstrap-cyan,
  "light": variables.$bootstrap-light,
  "dark": variables.$bootstrap-dark,
);

@each $bgColor, $i in $bg-colours {
  .bg-#{$bgColor} {
    background-color: $i;
  }
}

/* Text colors
============================================= */
.text-light {
  color: variables.$bootstrap-light;
}

.text-dark {
  color: variables.$bootstrap-dark;
}

/* Rounded
============================================= */
$round-sizes: 15, 25, 50;
@each $size in $round-sizes {
  .rounded-#{$size} {
    border-radius: #{$size}px;
  }
}

/* Positions
============================================= */
.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: variables.$zindex-fixed;
}

.fixed-bottom {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: variables.$zindex-fixed;
}

.sticky-top {
  position: sticky;
  top: 0;
  z-index: variables.$zindex-sticky;
}
