// -----------------------------------------------------------------------------
// This file contains all extra size classes
// -----------------------------------------------------------------------------

/* Font weight
============================================= */
$i: 100;
@while $i < 1000 {
  .fw-#{$i} {
    font-weight: $i;
  }
  $i: $i + 100;
}

/* ------------------------------------------- Width ------------------------------------------- */

/* Width Percents
============================================= */

$i: 5;
@while $i <= 100 {
  $width: percentage($i/100);
  .w-#{$i} {
    width: $width;
  }
  $i: $i + 5;
}

// min-width
$i: 5;
@while $i <= 100 {
  $width: percentage($i/100);
  .min-w-#{$i} {
    min-width: $width;
  }
  $i: $i + 5;
}

/* Fit width
============================================= */

.width-fit {
  width: fit-content;
}

/* ------------------------------------------- Height ------------------------------------------- */

/* Height Percents
============================================= */

$i: 5;
@while $i <= 100 {
  $height: percentage($i/100);
  .h-#{$i} {
    height: $height;
  }
  $i: $i + 5;
}

/* Height Viewport
============================================= */

$i: 5;
@while $i <= 100 {
  .vh-#{$i} {
    height: #{$i}vh;
  }
  $i: $i + 5;
}

// max-height
$i: 5;
@while $i <= 100 {
  .max-vh-#{$i} {
    max-height: #{$i}vh;
  }
  $i: $i + 5;
}

// min-height
$i: 5;
@while $i <= 100 {
  .min-vh-#{$i} {
    min-height: #{$i}vh;
  }
  $i: $i + 5;
}

/* Fit height
============================================= */
.height-fit {
  height: fit-content;
}
