@use "/src/app/shared/styles/utilities/variables";

.actual-player-move {
  &.hole {
    box-shadow: 1px 0px 17px 9px rgba(51, 255, 0, 0.4) inset;
  }
  &.stone {
    cursor: pointer;
  }
}

.other-player-move {
  cursor: not-allowed;
}

.stones-qty-label {
  font-size: 1.75rem;
  text-shadow: 2px 2px variables.$bootstrap-gray-800;
}
