<div
  id="main-container"
  class="d-flex flex-column align-items-center bg-light text-light max-viewport"
>
  <!-- ------------------------------------------- Header ------------------------------------------- -->
  <div class="d-flex flex-column py-5">
    <h1 class="text-center text-light game-text-shadow">{{ headerText }}</h1>
    <button
      *ngIf="endOfTheGame"
      class="btn-orange py-2"
      style="font-size: 1.25rem"
    >
      Play again
    </button>
  </div>
  <!-- ------------------------------------------- Board ------------------------------------------- -->
  <div class="w-75 h-60 mx-auto">
    <app-board [gameLogic]="gameLogic"></app-board>
  </div>
</div>
