@use "/src/app/shared/styles/utilities/variables";
@use "/src/app/shared/styles/components/game";

#main-container {
  background-color: #504a48;
}

.player-info {
  color: lighten(variables.$bootstrap-orange, 10);
}

$menu-btn-translate-X: -100px;

.menu-btn {
  width: 160px;
  border-radius: 0px 50px 50px 0px;
  transform: translateX($menu-btn-translate-X);
  &:hover {
    animation: slide-right 0.25s linear both;
  }
}

@keyframes slide-right {
  0% {
    transform: translateX($menu-btn-translate-X);
  }
  100% {
    transform: translateX(0);
  }
}
