<div
  class="rounded-100 d-flex flex-row mx-auto mx-auto board"
  [ngStyle]="{
    height: boardHeightPx + 'px'
  }"
>
  <div
    class="stones-placeholder"
    [ngStyle]="{
      width: (gameLogic.binsQtyInRow + 2) * binSizePx + 'px',
      height: boardHeightPx + 'px'
    }"
  >
    <app-stone
      *ngFor="let stone of stoneModels.values()"
      [size]="stoneSize"
      [stone]="stone"
    ></app-stone>
  </div>
  <!-- ----------------------- Store A ---------------------- -->
  <div
    class="d-flex flex-column"
    [ngStyle]="{
      width: binSizePx + 'px'
    }"
  >
    <div
      class=""
      [ngStyle]="{
        width: binSizePx + 'px',
        height: storeHeightPx + 'px'
      }"
    >
      <div class="store rounded-75 h-100 w-100"></div>
    </div>
    <div class="text-center text-gray-300 fw-600 pt-3 stones-qty-label">
      {{ gameLogic.stonesQtyInStoreA }}
    </div>
  </div>
  <div class="d-flex flex-column h-100" style="width: fit-content">
    <!-- ----------------------- Player A bins ---------------------- -->
    <div class="h-100 d-flex flex-row" style="width: fit-content">
      <ng-container *ngFor="let binNumber of binNumbersPlayerA">
        <div class="d-flex flex-column">
          <div
            [ngClass]="getBinCssClass(binNumber, playerA)"
            class="bg-image rounded-100 bin"
            (click)="onBinClick(binNumber)"
            [ngStyle]="{
              width: binSizePx + 'px',
              height: binSizePx + 'px'
            }"
          ></div>
          <div class="text-center text-gray-300 fw-600 pt-3 stones-qty-label">
            {{ gameLogic.getStonesQty(binNumber) }}
          </div>
        </div>
      </ng-container>
    </div>
    <!-- ----------------------- Player B bins ---------------------- -->
    <div class="h-50 d-flex flex-row" style="width: fit-content">
      <ng-container *ngFor="let binNumber of binNumbersPlayerB">
        <div class="d-flex flex-column justify-content-end">
          <div class="text-center text-gray-300 fw-600 pb-3 stones-qty-label">
            {{ gameLogic.getStonesQty(binNumber) }}
          </div>
          <div
            [ngClass]="getBinCssClass(binNumber, playerB)"
            class="bg-image rounded-100 bin"
            (click)="onBinClick(binNumber)"
            [ngStyle]="{
              width: binSizePx + 'px',
              height: binSizePx + 'px'
            }"
          ></div>
        </div>
      </ng-container>
    </div>
  </div>
  <!-- ----------------------- Store B ---------------------- -->
  <div
    class="w-100 d-flex flex-column justify-content-end"
    [ngStyle]="{ width: binSizePx + 'px' }"
  >
    <div class="text-center text-gray-300 fw-600 stones-qty-label">
      {{ gameLogic.stonesQtyInStoreB }}
    </div>
    <div
      class=""
      [ngStyle]="{
        height: storeHeightPx + 'px'
      }"
    >
      <div class="store rounded-75 h-100 w-100"></div>
    </div>
  </div>
</div>
