<div
  id="board"
  class="rounded-100 w-100 h-100 d-flex flex-row px-4"
  [ngStyle]="{ 'background-image': boardImageUrl }"
>
  <!-- ----------------------- Left player's store ---------------------- -->
  <div id="store-left" class="h-75 px-4 mt-4">
    <app-store
      [imageUrl]="storeImageUrl"
      [stoneSize]="getStoneSize(getHoleSize(holesContainer.offsetWidth))"
      [stones]="leftPlayerStoreStones"
    ></app-store>
  </div>
  <div class="d-flex flex-column flex-fill h-100 py-4" #holesContainer>
    <!-- ----------------------- Left player's holes ---------------------- -->
    <div id="left-player" class="h-50 d-flex flex-row">
      <div
        *ngFor="let holeNumber of leftPlayerHoleNumbers"
        class="h-100 hole-container d-flex"
      >
        <app-hole
          [holesHighlightClass]="getHolesHighlightCss(Player.LEFT_PLAYER)"
          [size]="getHoleSize(holesContainer.offsetWidth)"
          [stoneSize]="getStoneSize(getHoleSize(holesContainer.offsetWidth))"
          [imageUrl]="holeImageUrl"
          [stones]="getHoleStones(holeNumber)"
        ></app-hole>
      </div>
    </div>
    <!-- ----------------------- Right player's holes ---------------------- -->
    <div class="h-50 d-flex flex-column justify-content-end">
      <div id="left-player" class="d-flex flex-row">
        <div
          *ngFor="let holeNumber of rightPlayerHoleNumbers"
          class="hole-container"
        >
          <app-hole
            [holesHighlightClass]="getHolesHighlightCss(Player.RIGHT_PLAYER)"
            [ngClass]="getHolesHighlightCss(Player.RIGHT_PLAYER)"
            [size]="getHoleSize(holesContainer.offsetWidth)"
            [stoneSize]="getStoneSize(getHoleSize(holesContainer.offsetWidth))"
            [imageUrl]="holeImageUrl"
            [stones]="getHoleStones(holeNumber)"
          ></app-hole>
        </div>
      </div>
    </div>
  </div>
  <!-- ----------------------- Right player's store ---------------------- -->
  <div
    id="store-right"
    class="h-100 d-flex flex-column justify-content-end pb-4"
  >
    <div class="h-75 px-4">
      <app-store
        [imageUrl]="storeImageUrl"
        [stones]="leftPlayerStoreStones"
        [stoneSize]="getStoneSize(getHoleSize(holesContainer.offsetWidth))"
      ></app-store>
    </div>
  </div>
</div>
<div class="d-flex flex-row">
  <button class="btn-orange p-4 my-3" (click)="onNextHoleClick()">
    Next hole
  </button>
  <button class="btn-orange p-4 my-3" (click)="onNextBoardClick()">
    Next board
  </button>
</div>
