<div id="board" class="rounded-100 w-100 h-100 d-flex flex-row px-4">
  <!-- ----------------------- Store A ---------------------- -->
  <div class="h-70 px-4 mt-4">
    <app-store
      [stoneSize]="stoneSize"
      [allStones]="stoneModels"
      [stoneIds]="gameLogic.stoneIdsForStoreA"
    ></app-store>
    <div class="text-center text-gray-300 fw-600 pt-3 stones-qty-label">
      {{ gameLogic.stonesQtyInStoreA }}
    </div>
  </div>
  <div class="d-flex flex-column flex-fill h-100 py-4">
    <!-- ----------------------- Left player's holes ---------------------- -->
    <div class="h-50 d-flex flex-row">
      <ng-container *ngFor="let binNumber of binNumbers">
        <div
          *ngIf="gameLogic.binBelongsToPlayerA(binNumber)"
          class="h-100 d-flex"
        >
          <div class="d-flex flex-column">
            <app-hole
              [isActive]="binIsActive(playerA, binNumber)"
              [size]="binSizePx"
              [stoneSize]="stoneSize"
              [stoneIds]="gameLogic.getStoneIdsForBin(binNumber)"
              [allStones]="stoneModels"
              (stoneClick)="onBinClick(binNumber)"
            ></app-hole>
            <div class="text-center text-gray-300 fw-600 pt-3 stones-qty-label">
              {{ gameLogic.getStonesQty(binNumber) }}
            </div>
          </div>
        </div>
      </ng-container>
    </div>
    <!-- ----------------------- Right player's holes ---------------------- -->
    <div class="h-50 d-flex flex-row">
      <ng-container *ngFor="let binNumber of binNumbers">
        <div
          *ngIf="gameLogic.binBelongsToPlayerB(binNumber)"
          class="h-100 d-flex"
        >
          <div class="d-flex flex-column">
            <div class="text-center text-gray-300 fw-600 pb-3 stones-qty-label">
              {{ gameLogic.getStonesQty(binNumber) }}
            </div>
            <app-hole
              [isActive]="binIsActive(playerB, binNumber)"
              [size]="binSizePx"
              [stoneSize]="stoneSize"
              [stoneIds]="gameLogic.getStoneIdsForBin(binNumber)"
              [allStones]="stoneModels"
              (stoneClick)="onBinClick(binNumber)"
            ></app-hole>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
  <!-- ----------------------- Store B ---------------------- -->
  <div class="h-100 d-flex flex-column justify-content-end pb-4">
    <!-- ------------------------------------------- Stones qty label ------------------------------------------- -->
    <div class="text-center text-gray-300 fw-600 pb-3 stones-qty-label">
      {{ gameLogic.stonesQtyInStoreB }}
    </div>
    <div class="h-70 px-4" #storeRightDiv>
      <app-store
        [stoneSize]="stoneSize"
        [allStones]="stoneModels"
        [stoneIds]="gameLogic.stoneIdsForStoreB"
      ></app-store>
    </div>
  </div>
</div>
