@use "/src/app/shared/styles/utilities/mixins";
@use "/src/app/shared/styles/utilities/variables";
@use "/src/app/shared/styles/utilities/functions";
@use "/src/app/shared/styles/components/game";

.actual-player-move {
  box-shadow: 1px 0px 17px 9px rgba(51, 255, 0, 0.4) inset;
}

.other-player-move {
  // box-shadow: 1px 0px 17px 9px rgba(255, 0, 0, 0.4) inset;
  cursor: not-allowed;
}

.last-clicked-bin {
  box-shadow: 1px 0px 17px 9px rgba(255, 187, 0, 0.5) inset;
}

.bin {
  background-image: functions.image("tree-hollow-000.png");
}

.store {
  @include mixins.bg-fill();
  background-image: functions.image("store-001.png");
}

.stones-placeholder {
  position: absolute;
}
