// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------

@use "/src/app/shared/styles/utilities/variables";

@mixin selection-style {
  color: variables.$bootstrap-light;
  background: variables.$bootstrap-orange;
}

@mixin flex-container($direction: column, $justify-content: center) {
  display: flex;
  flex-direction: $direction;
  align-items: center;
  justify-content: $justify-content;
  text-align: center;
}

@mixin bg-fill($background-position: center) {
  background-position: $background-position;
  background-repeat: no-repeat;
  background-size: cover;
}

@mixin mask($color, $opacity: 0.65) {
  background: rgba($color, $opacity);
}

@mixin py($size) {
  padding-top: $size;
  padding-bottom: $size;
}
