@use "/src/app/shared/styles/utilities/mixins";
@use "/src/app/shared/styles/utilities/variables";
@use "/src/app/shared/styles/utilities/functions";
@use "/src/app/shared/styles/components/game";

.bg-down {
  @include mixins.bg-fill(left);
  width: 100%;
  height: 25vh;
  z-index: 1;
  background-image: functions.image("bg-down.png");
}

.bg-colors {
  animation: bg-colors-pulse 45s ease infinite;
}

.board-container {
  display: flex;
  width: 100%;
  z-index: 2;
}

.content-wraper {
  flex: 1 1 auto;
}

/* ------------------------------------------- Media ------------------------------------------- */
@media screen and (min-height: map-get(variables.$breakpoints, xs)) {
  .content-wraper {
    display: flex;
    flex-direction: row;
  }

  .game-title {
    width: 35%;
    padding-top: 3rem;
  }

  .home-board {
    height: 85%;
  }

  .board-container {
    height: 100%;
  }
}
@media screen and (min-height: map-get(variables.$breakpoints, sm)) {
  .content-wraper {
    display: flex;
    flex-direction: column;
  }

  .game-title {
    width: 100%;
  }

  .home-board {
    height: 100%;
  }

  .board-container {
    height: 50%;
  }
}

@media screen and (min-width: map-get(variables.$breakpoints, xs)) {
  .home-board {
    @include mixins.py(1.5rem);
    font-size: 1.25rem;
    justify-content: space-evenly;
    width: 85%;
    // border: 3px solid blue;
    display: flex;
    flex-direction: column;
  }

  .home-btn {
    box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.85);
    border: transparent;
    width: 70%;
    @include mixins.py(1rem);
  }

  .game-title {
    @include mixins.py(1rem);
  }
}

@media screen and (min-width: map-get(variables.$breakpoints, sm)) {
  .home-board {
    @include mixins.py(3rem);
    width: 60%;
    font-size: 1.35rem;
    // border: 3px solid red;
  }

  .home-btn {
    width: 65%;
  }

  .game-title {
    @include mixins.py(1.5rem);
  }
}

@media screen and (min-width: map-get(variables.$breakpoints, md)) {
  .home-board {
    width: 50%;
    font-size: 1.5rem;
    // border: 3px solid greenyellow;
  }
}

@media screen and (min-width: map-get(variables.$breakpoints,lg)) {
  .home-board {
    width: 40%;
    // border: 3px solid orange;
  }
}

@media screen and (min-width: map-get(variables.$breakpoints,xxl)) {
  .home-board {
    width: 550px;
    // border: 3px solid mediumslateblue;
  }
}
/* ------------------------------------------- Keyframes ------------------------------------------- */

@keyframes bg-colors-pulse {
  0% {
    background-color: #9dbdb8;
  }
  15% {
    background-color: #7fb6ee;
  }
  35% {
    background-color: #6963b4;
  }
  45% {
    background-color: variables.$gray-brown;
  }
  75% {
    background-color: #6963b4;
  }

  85% {
    background-color: #7fb6ee;
  }
  100% {
    background-color: #9dbdb8;
  }
}
