@use "/src/app/shared/styles/utilities/mixins";
@use "/src/app/shared/styles/utilities/variables";
@use "/src/app/shared/styles/utilities/functions";
@use "/src/app/shared/styles/components/game";

.home-btn {
  box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.85);
  border: transparent;
}

.bg-down {
  @include mixins.bg-fill();
  background-image: functions.image("bg-down.png");
}

.bg-colors {
  animation: bg-colors-pulse 45s ease infinite;
}

@keyframes bg-colors-pulse {
  0% {
    background-color: #9dbdb8;
  }
  15% {
    background-color: #7fb6ee;
  }
  35% {
    background-color: #6963b4;
  }
  45% {
    background-color: variables.$gray-brown;
  }
  75% {
    background-color: #6963b4;
  }

  85% {
    background-color: #7fb6ee;
  }
  100% {
    background-color: #9dbdb8;
  }
}
