<div class="vh-100 d-flex flex-column bg-colors">
  <div class="w-100 content-wraper">
    <div
      class="
        game-title
        text-light
        game-text-shadow
        d-flex
        justify-content-center
      "
    >
      <h1 class="text-center">Mancala Game</h1>
    </div>
    <div class="board-container d-flex align-items-center">
      <div
        class="
          rounded-100
          align-items-center
          board
          home-board
          mx-auto
          text-center
          game-text-shadow
          fade-in-default
        "
      >
        <button
          class="btn-gray-brown home-btn"
          [routerLink]="getGameModeUrl(GameMode.PLAYER_VS_PLAYER)"
        >
          Player vs Player
        </button>
        <button
          class="btn-gray-brown home-btn"
          [routerLink]="getGameModeUrl(GameMode.PLAYER_VS_BOT)"
        >
          Player vs Bot
        </button>
        <button
          class="btn-gray-brown home-btn"
          [routerLink]="getGameModeUrl(GameMode.BOT_VS_BOT)"
        >
          Bot vs Bot
        </button>
        <button (click)="makeReport(true)" class="btn-gray-brown home-btn">
          Instruction
        </button>
      </div>
    </div>
  </div>
  <div class="bg-down fixed-bottom flex-fill"></div>
</div>
