<!-- ------------------------------------------- Hole ------------------------------------------- -->
<div
  [ngClass]="holeCssClass"
  class="bg-image rounded-100 hole"
  style="order: 1"
  [ngStyle]="{
    width: size + 'px',
    height: size + 'px'
  }"
></div>
<!-- ------------------------------------------- Stones ------------------------------------------- -->
<app-stone
  [ngClass]="holeCssClass"
  class="bg-blue stone"
  (click)="onStoneClick()"
  *ngFor="let stone of stones"
  [size]="stoneSize"
  [stone]="stone"
></app-stone>
